@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto";
}

.navbar{
    display: flex;
    padding: 10px 30px;
    align-items: center;
    justify-content: space-around;
}

.logo img{
    height: 90px;
    width:90px;
}
.search{
    width:350px;
    height:34px;
    border: 3px solid green;
    border-radius: 4px;
    display: flex;
}
.search_bar{
    width:85%;
    border: 0;
    font-size: 14px;
    padding: 10px;
    color: green;
}
.search_bar:focus{
    outline: none;
    box-shadow: none;
}
.search_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    width:15%;
}
.search_icon i{
    color: #fff;
}

.signin{
    display: flex;
    align-items: center;
}
.signin i{
    font-size: 25px;
}
.signin span{
    margin-left: 10px;
    font-size: 18px;
}

.icons{
    display: flex;
    gap: 20px;
}
.arrow{
    transform: rotate(90deg);
    font-size: 25px;
}
.icons i{
    font-size: 25px;   
}
.main{
    box-sizing: border-box;
    height: auto;
}

/* Nav2 */
.nav2{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.logo2{
    margin-left: -10px;
}
.anchors{
    display: flex;
    gap: 20px;
}
.anchors a{
    text-decoration: 0;
    color: #000;
}
.anchors a:hover{
    color: green;
}
.phone{
    display: flex;
    align-items: center;
}
.phone i{
    color: green;
}
.phone span{
    margin-left: 10px;
    font-weight: 600;
}
.phone span:hover{
    color: green;
}

/* section1 */
.section1{
    height: 500px;
    width: auto;
    background-color: #C9EEDD;
    padding: 10px 40px;
    display: flex;
}
.left1{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 200px;
    gap: 30px;
    box-sizing: border-box;
}
.right1{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 50px; */
}
.right-img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: #b0cdc0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
}
.right-img:hover{
    transform: scale(1.03);
    box-shadow: 5px 5px 10px rgba(0, 128, 0, 0.721);
}
.right-img img{
    height: 400px;
    width: 400px;
    transition: 0.6s;
}

.right-img img:hover{
    transform: scale(1.03);
}
.title1{
    font-weight: 1000;
    width: 300px;
    font-size: 38px;
}
.left1 p{
    margin-bottom: 30px;
}
.shop-button{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 30px;
    width: 100px;
    background-color: rgb(55, 143, 87);
    border-radius: 4px;
    justify-content: center;
    color: white;
    padding: 5px;
    transition: 0.4s;
    box-shadow: 3px 3px 10px #76767646;
}
.shop-button:hover{
    transform: scale(1.05);
}
.shop-button button{
    border: 0;
    background-color: transparent;
    color: #fff;
}
.shop-button i{
    font-size: 14px;
}
.lorem{
    width: 500px;
    font-style: italic;
    color: #676767;
    font-family: 'Times New Roman', Times, serif;
}



/* section2 */
.section2{
    height: 650px;
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    padding: 10px 40px;
}
.top2{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.top2 span{
    font-size: 24px;
    font-weight: 600;
}
.top2 p{
    font-style: italic;
    color: #727272;
}
.bottom2{
    height: 550px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.btm-left2{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 100px;
}
.btm-left-card{
    width: 100%;
    height:20%;
    background-color: #e5e3e379;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.btm-left-card span{
    color: black;
    font-weight: 600;
    font-size: 16px;
}
.btm-left-card p{
    font-size: 14px;
    color: #727272;
}
.btm-right2{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 20px;
}
.btm-right2 img{
    padding: 0px;
    width: 43%;
    height: 100%;
    margin-right: 30px;
    border-radius: 10px;
}

/* section3 */
.section3{
    height: 800px;
    padding: 10px 40px;
    margin-bottom: 20px;
}
.top3{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.top3 span{
    font-size: 24px;
    font-weight: 600;
}
.top3 p{
    font-style: italic;
    color: #727272;
}
.bottom3{
    height: 700px;
    width: 100%;
    display: flex;
    gap: 20px;
    /* flex-direction: row;
    justify-content: center; */
}
.btm-left3{
    height: 100%;
    width: 18%;
    box-sizing: border-box;
}
.btm-right3{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box;
}
.left-top3{
    width: 100%;
    height:40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.left-bottom3{
    width: 100%;
    height:60%;
    margin-top: 12px;
}
.left-bottom3 img{
    height: 100%;
    width: 100%;
}
.left-top3-card{
    width: 100%;
    height: 20%;
    background-color: #e5e3e379;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-top3-card span{
    margin-left: 10px;
    color: black;
    font-weight: 600;
    font-size: 14px;
}
.left-top3-card i{
    margin-right: 10px;
}
.btm-right-top3{
    height: 50%;
    width: 100%;
    display: flex;
    gap:20px;
}
.btm-right-bottom3{
    height: 50%;
    width: 100%;
}
.product-card{
    height: 87%;
    width: 20%;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 5px 5px 10px rgba(211, 209, 209, 0.696);
    transition: 0.5s;
}
.product-card:hover{
    transform: scale(1.05);
}
.pc-top{
    height: 45%;
    background-color: #e5e3e379;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    position: relative;
}
.pc-top img{
    height: 110px;
    width: 90px;
    transition: 0.6s;
}
.pc-top img:hover{
    transform: scale(1.05);
}
.pc-icon{
    color: green;
    background-color: #e5e3e379;
    border-radius: 50%;
    padding: 5px;
    height: 30px;
    width: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 117px;
    z-index: 1;
}

.pc-btm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.pc-btm span{
    font-size: 14px;
    color: #727272;
}
.p-title{
    width: 180px;
    line-height: 25px;
    text-align: center;
}
.p-title span{
    font-size: 16px;
    color: #000;
    font-weight: 600;
}
.p-price{
    display: flex;
    align-items: center;
    gap: 5px;
}
.p-price span{
    color: rgb(8, 208, 8);
    font-size: 20px;
    font-weight: 900;
}
.p-price p{
    text-decoration: line-through;
    color: #575757;
    padding-top: 3px;
}
.p-rating{
    display: flex;
    align-items: center;
    gap: 5px;
}
.p-rating i{
    color: gold;
    font-size: 16px;
}
.p-rating span{
    margin-left: 5px;
    font-size: 16px;
}

/* scetion4 */
.section4{
    height: 240px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    padding: 10px 40px;
}
.sec4-cards{
    height: 140px;
    width: 25%;
    background-color: #e5e3e379;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.sec4-cards i{
    color: green;
    font-size: 20px;
}
.sec4-cards span{
    font-weight: 600;
    font-size: 13px;
}
.sec4-cards p{
    color: #575757;
    font-size: 13px;
}

/* section5 */
.section5{
    height: 500px;
    width: 100%;
    box-sizing: border-box;
    background-image: url("./assests/images/sec5_bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position:absolute;
    margin-bottom: 20px;
}
.sec5-box{
    background-color: #f3ddcd;
    height: 200px;
    width: 510px;
    position: relative;
    top: 100px;
    left: 90px;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.sec5-box p{
    color: #575757;
    font-weight: 600;
    font-size: 20px;
}
.lorem5{
    font-style: italic;
    color: #575757da;
    line-height: 30px;
    letter-spacing: 0.3px;
}
.sec5-box img{
    width: 55%;
    border: 2px solid rgba(114, 138, 146, 0.314);
}
/* section6 */
.section6{
    height: 460px;
    width: 100%;
    margin-top: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 40px;
    box-sizing: border-box;
}
.bottom6{
    height: 360px;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 50px;
}
.btm6-card{
    width: 28%;
    height: 100%;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;

}
.btm6-card h2{
    margin-bottom: 4px;
}
.btm6-card p{
    color: #727272;
    font-size: 16px;
}
.btm6-card span{
    color: #727272;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
}
.p-rating6{
    display: flex;
    align-items: center;
    gap: 5px;
}
.p-rating6 i{
    color: gold;
    font-size: 20px;
}
.profile_pic1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -150px;
    margin-bottom: 25px;
    box-sizing: border-box;
    background-image: url("./assests/images/pic1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border: 5px solid white;
}
.profile_pic2{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -150px;
    margin-bottom: 25px;
    box-sizing: border-box;
    background-image: url("./assests/images/pic2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid white;
}
.profile_pic3{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -150px;
    margin-bottom: 25px;
    box-sizing: border-box;
    background-image: url("./assests/images/pic3.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border: 5px solid white;
}
/* section7 */
.section7{
    height: 650px;
    width: auto;
    padding: 10px 40px;
}

.sec7-bottom{
    height: 550px;
    display: flex;
    margin-top: 20px;
    display: flex;
    gap: 30px;
    justify-content: center;
}
.sec7-btm-cards{
    height: 80%;
    width: 27%;
    display: flex;
    flex-direction: column;
}
.sec7-btm-card-top{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 35%;
    padding: 20px;
    box-sizing: border-box;
    padding-bottom: 20px;
    border: 1px solid #ddd;
    border-bottom: none;
}

.sec7-btm-card-btm1{
    display: flex;
    flex-direction: column;
    height: 68%;
    background-image: url("./assests/images/img1.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sec7-btm-card-btm2{
    display: flex;
    flex-direction: column;
    height: 70%;
    background-image: url("./assests/images/img2.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sec7-btm-card-btm3{
    display: flex;
    flex-direction: column;
    height: 70%;
    background-image: url("./assests/images/img3.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sec7-btm-card-top span{
    font-size: 17px;
    color: #575757;
    letter-spacing: 0.3px;
}
.sec7-btm-card-top p{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.3px;
    
}
.read-more{
    display: flex;
    align-items: center;
    gap: 10px;
    color: green;
}
.read-more span{
    color: green;
    font-size: 15px;
}
/* footer */
.footer_section{
    height: 400px;
    background-color: rgb(81, 215, 130);
    padding: 10px 40px;
    box-sizing: border-box;
}
.footer-top{
    height: 300px;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.footer_section1{
    width:25%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    box-sizing: border-box;
}
.footer_section1 img{
    height: 70px;
    width: 80px;
}
.footer_section1 p{
   color: #fff;
   font-size: 18px;
   width: 85%;
   letter-spacing: 0.1px;
   line-height: 26px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-weight: 100;
}
.sm-icons{
    display: flex;
    gap: 10px;
}
.sm-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
}
.sm-icon i{
    color: #fff;
}
.footer_section2{
    width:25%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    box-sizing: border-box;
}
.footer_section2 h2{
    color: #fff;
    margin-bottom: 25px;
}
.footer_section2 a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.3px;
}

.footer_section4{
    width:25%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    box-sizing: border-box;
}
.footer_section4 h2{
    color: #fff;
    margin-bottom: 25px;
}
.ftr_phn{
    display: flex;
    gap: 10px;
    align-items: center;
    color: #fff;
}
.ftr_phn i{
    font-size: 18px;
}
.ftr_phn span{
    font-size: 17px;
}
.footer-btm {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-btm p{
    margin-top: 30px;
    color: #fff;
}